<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="admin/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="admin/images/favicon.png" />
</head>
<body>
	<div class="container-scroller">
		
		<nav th:replace="admin/index ::navbar1"></nav>
		
		<div class="container-fluid page-body-wrapper" >
		<div th:replace="admin/index ::sidebar"></div>
		
		<nav th:replace="admin/index ::navbar2"></nav>
		
		<div class="main-panel">
			<div class="content-wrapper">
				
				<div class="col-md-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Employee Registration Form</h4>
							<p class="card-description">
								Personal info
							</p>
							<form class="form-sample" id="registerForm">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">First Name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="exampleInputFname1" name="fName"
													placeholder="First Name">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Last Name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="exampleInputLName1" name="lName"
													placeholder="Last Name">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Mobile Number</label>
											<div class="col-sm-9">
												<input type="tel" class="form-control" id="exampleInputMobile1" name="mobile_no"
													placeholder="Mobile Number">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Email Id</label>
											<div class="col-sm-9">
												<input type="email" class="form-control" id="exampleInputEmail1" name="email"
													placeholder="Email">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Gender</label>
											<div class="col-sm-9">
												<select class="form-control" name="gender">
													<option value="">Select Gender</option>
													<option value="Male">Male</option>
													<option value="Female">Female</option>
													<option value="Other">Other</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Birth Date</label>
											<div class="col-sm-9">
												<input type="date" class="form-control" name="birthDate">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Blood Group</label>
											<div class="col-sm-9">
												<select class="form-control" name="bloodGroup">
													<option value="">Select Blood Group</option>
													<option value="A+">A+</option>
													<option value="A-">A-</option>
													<option value="B+">B+</option>
													<option value="B-">B-</option>
													<option value="O+">O+</option>
													<option value="O-">O-</option>
													<option value="AB+">AB+</option>
													<option value="AB-">AB-</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Marital Status</label>
											<div class="col-sm-9">
												<select class="form-control" name="maritalStatus">
													<option value="">Select Marital Status</option>
													<option value="Single">Single</option>
													<option value="Married">Married</option>
													<option value="Divorced">Divorced</option>
													<option value="Widowed">Widowed</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Address</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="exampleInputAddress1" name="address"
													placeholder="Address">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Qualification</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="qualification"
													placeholder="Qualification">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Designation</label>
											<div class="col-sm-9">
												<select class="form-control" id="exampleInputDesignation1" name="designation">
													<option value="">Select Designation</option>
													<option value="Manager">Manager</option>
													<option value="Developer">Developer</option>
													<option value="Tester">Tester</option>
													<option value="HR">HR</option>
													<option value="Designer">Designer</option>
													<!-- Add more designations as needed -->
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Joining Date</label>
											<div class="col-sm-9">
												<input type="date" class="form-control" id="exampleInputJoiningDate1"
													name="joiningDate">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Monthly Salary</label>
											<div class="col-sm-9">
												<input type="number" class="form-control" id="exampleInputSalary1" name="salary"
													placeholder="Salary">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Password</label>
											<div class="col-sm-9">
												<input type="password" class="form-control" id="exampleInputConfirmPassword1"
													name="password" placeholder="Password">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Resigning Date</label>
											<div class="col-sm-9">
												<input type="date" class="form-control" name="resigningDate">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Employee Status</label>
											<div class="col-sm-9">
												<select class="form-control" name="employeeStatus">
													<option value="">Select Status</option>
													<option value="Active">Active</option>
													<option value="Inactive">Inactive</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Bank Account No</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="bankAccountNo"
													placeholder="Bank Account No">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Bank Name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="bankName" placeholder="Bank Name">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">IFSC Code</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="ifscCode" placeholder="IFSC Code">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Account Type</label>
											<div class="col-sm-9">
												<select class="form-control" name="accountType">
													<option value="">Select Account Type</option>
													<option value="Savings">Savings</option>
													<option value="Current">Current</option>
													<option value="Salary">Salary</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Upload Document</label>
											<div class="col-sm-9">
												<input type="file" class="form-control" id="exampleInputDocument" name="documents[]" multiple>
											</div>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary mr-2" id="empSave">Submit</button>
								<button type="button" class="btn btn-light">Cancel</button>
							</form>
						</div>
					</div>
				</div>



			
				<!--<div class="col-md-8 grid-margin stretch-card">
				              <div class="card" style="margin-left: 25%;">
				                <div class="card-body">
				                  <h4 class="card-title">Employee Registration Form</h4>
				                  <p class="card-description">
				                    
				                  </p>
				                  <form class="forms-sample" id="registerForm">
				                    <div class="form-group">
				                      <label for="exampleInputUsername1">First Name: </label>
				                      <input type="text" class="form-control" id="exampleInputFname1" name="fName" placeholder="Username">
				                    </div>
				                    <div class="form-group">
				                      <label for="exampleInputEmail1">Last Name: </label>
				                      <input type="email" class="form-control" id="exampleInputLName1" name="lName" placeholder="Email">
				                    </div>
									<div class="form-group">
										<label for="exampleInputMobile1">Mobile Number: </label>
										<input type="mobile" class="form-control" id="exampleInputMobile1" name="mobile_no" placeholder="Mobile">
									</div>
									<div class="form-group">
										<label for="exampleInputAddress1">Address: </label>
										<input type="address" class="form-control" id="exampleInputAddress1" name="address" placeholder="Address">
									</div>
									<div class="form-group">
										<label for="exampleInputDesignation1">Designation: </label>
										<input type="Designation" class="form-control" id="exampleInputDesignation1" name="designation" placeholder="Designation">
									</div>
									<div class="form-group">
									    <label for="exampleInputDesignation1">Designation:</label>
									    <select class="form-control" id="exampleInputDesignation1" name="designation">
									        <option value="">Select Designation</option>  Placeholder option 
									        <option value="Manager">Manager</option>
									        <option value="Developer">Developer</option>
									        <option value="Tester">Tester</option>
									        <option value="HR">HR</option>
									        <option value="Designer">Designer</option>
									         Add more designations as needed 
									    </select>
									</div>
				                    <div class="form-group">
				                      <label for="exampleInputEmail1">Email Id:</label>
				                      <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email">
				                    </div>
				                    <div class="form-group">
				                      <label for="exampleInputConfirmPassword1">Password: </label>
				                      <input type="password" class="form-control" id="exampleInputConfirmPassword1" name="password" placeholder="Password">
				                    </div>
									<div class="form-group">
										<label for="exampleInputJoiningDate1">Joining Date: </label>
										<input type="date" class="form-control" id="exampleInputJoiningDate1" name="joiningDate" placeholder="JoiningDate">
									</div>
									<div class="form-group">
										<label for="exampleInputSalary1">Yearly Salary: </label>
										<input type="number" class="form-control" id="exampleInputSalary1" name="salary" placeholder="Salary">
									</div>
				                    <button type="submit" class="btn btn-primary mr-2" id="empSave">Submit</button>
				                    <button class="btn btn-light">Cancel</button>
				                  </form>
				                </div>
				              </div>
				</div>-->
			
			</div>
					<footer th:replace="admin/empIndex ::footer"></footer>

		</div>
		</div>
	</div>
	
	
	
	
	
	

	
	
	 <!-- plugins:js -->
	 <script src="admin/vendors/js/vendor.bundle.base.js"></script>
	 <!-- endinject -->
	 <!-- Plugin js for this page -->
	 <script src="admin/vendors/chart.js/Chart.min.js"></script>
	 <script src="admin/vendors/datatables.net/jquery.dataTables.js"></script>
	 <script src="admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	 <script src="admin/js/dataTables.select.min.js"></script>
	
	 <!-- End plugin js for this page -->
	 <!-- inject:js -->
	 <script src="admin/js/off-canvas.js"></script>
	 <script src="admin/js/hoverable-collapse.js"></script>
	 <script src="admin/js/template.js"></script>
	 <script src="admin/js/settings.js"></script>
	 <script src="admin/js/todolist.js"></script>
	 <!-- endinject -->
	 <!-- Custom js for this page-->
	 <script src="admin/js/dashboard.js"></script>
	 <script src="admin/js/Chart.roundedBarCharts.js"></script>
	 <!-- End custom js for this page-->
	 <script src="admin/js/empRegisterJs.js"></script>
	</body>
	
	</html>
	
